body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f6f6f6;
}

.container {
  text-align: center;
}

.game {
  position: relative;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  background: #dff1ff;
  border: 3px solid #333;
  overflow: hidden;
}

.corgi {
  position: absolute;
  bottom: 10px;
  width: 60px;
  height: 40px;
  background: brown;
  border-radius: 10px;
}

.treat {
  position: absolute;
  width: 30px;
  height: 30px;
  background: gold;
  border-radius: 50%;
}
