body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #121212;
  color: #f0f0f0;
}

.container {
  text-align: center;
}

.game {
  position: relative;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  background: #1e1e1e;
  border: 3px solid #555;
  overflow: hidden;
}

.corgi {
  position: absolute;
  bottom: 10px;
  width: 70px;
  height: 50px;
  pointer-events: none;
}

.treat {
  position: absolute;
  width: 32px;
  height: 32px;
  pointer-events: none;
}
